<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Sky</title>
    <link rel="icon" href="/public/img/favicon.ico">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar and Hero-->
    <div class="container-fluid p-0" id="navAndHero">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <h1 class="text-info m-0">
                    <img src="/public/img/blue-sky-high-resolution-color-logo.png" alt="Logo" style="max-height: 45px;">
                    </i>Blue sky
                </h1>
                <p class="text-primary">flights management system</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="bi bi-menu-down"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link active">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Flights</a>
                        <div class="dropdown-menu m-0">
                            <a href="/flights" class="dropdown-item">All flights</a>
                            <a href="/flights/flight_search" class="dropdown-item">Flight search</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Airlines</a>
                        <div class="dropdown-menu m-0">
                            <a href="/airlineCompanies" class="dropdown-item">All airlines</a>
                            <a href="/airlineCompanies/airline_search" class="dropdown-item">Airline search</a>
                        </div>
                    </div>
                    <a href="/customers" class="nav-item nav-link">Customers</a>
                    <a href="/user_page" class="nav-item nav-link">User page</a>
                </div>
                <a href="/registerOrLogin" class="btn btn-primary rounded-pill py-2 px-4">Register/ login</a>
            </div>
        </nav>

        <div class="container-fluid py-5 mb-5 main-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="text-primary">About - Database 📀</h1>
                        <p class="fs-3 text-white">
                            The system uses MySQL as its database, managing large datasets of flights, airlines,
                            customers, and tickets. Knex, MySQL, and MySQL2 libraries simplify queries, while a custom
                            REST API enables seamless interaction between the server and database
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar and Hero -->

    <!-- Content -->
    <div class="container-xxl py-5">
        <a href="/about/database/hebrew" class="btn btn-primary rounded-pill py-2 px-4">Hebrew / עברית</a>
        <div class="container">
            <div class="row g-5">
                <h1 class="section-title bg-white text-start text-primary pe-3 text-center">Database</h1>
                <div class="p-4 mb-4">
                    <h2 class="text-center">💼 Data Structure and Storage</h2>
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            🗄️ <strong>Using MySQL DB for Database Management</strong><br>
                            Provides an organized, efficient, and fast system for managing relational data.
                        </li>
                        <li class="list-group-item">
                            ✍️ <strong>Building the Entire Database</strong><br>
                            From the basic schema to inserting thousands of records, including countries, airlines,
                            flights, customers, and tickets. This includes creating tables, defining relationships, and
                            inserting detailed and extensive data.
                        </li>
                    </ul>
                </div>

                <div class="p-4 mb-4">
                    <h2 class="text-center">🔗 Database Communication</h2>
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            📚 <strong>Using Knex, MySQL, and MySQL2 Libraries for Query Management</strong><br>
                            Enables performing complex operations on the database in a simple and convenient way.
                        </li>
                        <li class="list-group-item">
                            🌐 <strong>Using a Custom-Built API for Database Communication</strong><br>
                            Ensures controlled, secure, and flexible data retrieval, updates, and management.
                        </li>
                        <li class="list-group-item">
                            👤 <strong>User Authentication</strong><br>
                            Verifies and authenticates existing users during login.
                        </li>
                        <li class="list-group-item">
                            📋 <strong>Adding New Users</strong><br>
                            Registers new users and saves them in the database.
                        </li>
                        <li class="list-group-item">
                            ❌ <strong>Deleting Existing Users</strong><br>
                            Deletes existing users from the database.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Content -->

    <!-- Footer -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="bi bi-person-fill me-3"></i>Rotem Sharon</p>
                    <p class="mb-2"><i class="bi bi-geo-alt-fill me-3"></i>Rehovot, Israel</p>
                    <p class="mb-2"><i class="bi bi-envelope-at-fill me-3"></i>rotemsharon121@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                            href="https://www.linkedin.com/in/rotem-sharon-66924b271/">
                            <i class="bi bi-linkedin"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                            href="https://github.com/rotemsharon121">
                            <i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->

    <!-- Template Javascript -->
    <script src="/public/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>