<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Sky</title>
    <link rel="icon" href="/public/img/favicon.ico">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar and Hero-->
    <div class="container-fluid p-0" id="navAndHero">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <h1 class="text-info m-0">
                    <img src="/public/img/blue-sky-high-resolution-color-logo.png" alt="Logo" style="max-height: 45px;">
                    </i>Blue sky
                </h1>
                <p class="text-primary">flights management system</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="bi bi-menu-down"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link active">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Flights</a>
                        <div class="dropdown-menu m-0">
                            <a href="/flights" class="dropdown-item">All flights</a>
                            <a href="/flights/flight_search" class="dropdown-item">Flight search</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Airlines</a>
                        <div class="dropdown-menu m-0">
                            <a href="/airlineCompanies" class="dropdown-item">All airlines</a>
                            <a href="/airlineCompanies/airline_search" class="dropdown-item">Airline search</a>
                        </div>
                    </div>
                    <a href="/customers" class="nav-item nav-link">Customers</a>
                    <a href="/user_page" class="nav-item nav-link">User page</a>
                </div>
                <a href="/registerOrLogin" class="btn btn-primary rounded-pill py-2 px-4">Register/ login</a>
            </div>
        </nav>

        <div class="container-fluid py-5 mb-5 main-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="text-primary">About - Front end ✨</h1>
                        <p class="fs-3 text-white">
                            The front-end of the Blue Sky Flights Management System provides a responsive and
                            user-friendly experience using Bootstrap for styling. It features flight searches, ticket
                            purchases, an airline directory, and user profile management, The interface ensures smooth
                            navigation with well-organized tables, filters, and a modern design
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar and Hero -->

    <!-- Content -->
    <div class="container-xxl py-5">
        <a href="/about/front_end/hebrew" class="btn btn-primary rounded-pill py-2 px-4">Hebrew / עברית</a>
        <div class="container">
            <div class="row g-5">
                <h1 class="section-title bg-white text-start text-primary pe-3 text-center">Client Side</h1>
                <div class="p-4 mb-4">
                    <h2 class="text-center">🎨 Design and User Experience</h2>
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            💠 <strong>Bootstrap</strong><br>
                            Using Bootstrap for website design and improving user experience -<br>
                            Provides responsive and consistent design for all website pages.
                        </li>
                        <li class="list-group-item">
                            📥 <strong>File Downloads</strong><br>
                            Option to download task forms and configuration files -<br>
                            Allows downloading the original task form, database configuration files, and error handling files.
                        </li>
                        <li class="list-group-item">
                            🖥️ <strong>Displaying Data from API</strong><br>
                            Importing and displaying dynamic information directly from the backend API -<br>
                            Presenting data in an organized and user-friendly manner using styled tables with search, sort, and filter options.
                        </li>
                    </ul>
                </div>

                <div class="p-4 mb-4">
                    <h2 class="text-center">📊 Key Pages</h2>
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            ✈️ <strong>Flights Page</strong><br>
                            Displaying all flights in the database with the option to purchase tickets based on the logged-in user.
                        </li>
                        <li class="list-group-item">
                            🔍 <strong>Flight Search</strong><br>
                            Search for flights by origin country, destination country, flight date, and landing date, with the option to purchase tickets directly from the search.
                        </li>
                        <li class="list-group-item">
                            🌎 <strong>Airline List</strong><br>
                            Displaying all airlines in the database.
                        </li>
                        <li class="list-group-item">
                            📓 <strong>Search by Airline</strong><br>
                            Search for flights by airline name, airline number, manager name, or the country where it operates.
                        </li>
                        <li class="list-group-item">
                            👤 <strong>Customer Management</strong><br>
                            A page displaying information about all registered customers in the system.
                        </li>
                    </ul>
                </div>

                <div class="p-4 mb-4">
                    <h2 class="text-center">💻 User Management</h2>
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            👁 <strong>Personal User Page</strong><br>
                            Edit profile, view and delete purchased flight tickets, and delete the profile.
                        </li>
                        <li class="list-group-item">
                            🔐 <strong>Registration/Login Page</strong><br>
                            Allows searching for flights by origin country, destination country, flight date, and landing date, with the option to purchase tickets directly from the search.
                        </li>
                        <li class="list-group-item">
                            📋 <strong>Connected User Identification</strong><br>
                            Identifying the connected user using cookies for personal purchases.
                        </li>
                        <li class="list-group-item">
                            🌟 <strong>Ticket Purchase Management</strong><br>
                            Purchasing tickets for the connected user only.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Content -->

    <!-- Footer -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="bi bi-person-fill me-3"></i>Rotem Sharon</p>
                    <p class="mb-2"><i class="bi bi-geo-alt-fill me-3"></i>Rehovot, Israel</p>
                    <p class="mb-2"><i class="bi bi-envelope-at-fill me-3"></i>rotemsharon121@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                            href="https://www.linkedin.com/in/rotem-sharon-66924b271/">
                            <i class="bi bi-linkedin"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                            href="https://github.com/rotemsharon121">
                            <i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->

    <!-- Template Javascript -->
    <script src="/public/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>